* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

header .filterBar {
  position: absolute;
  left: 20px;
  top: 150px;
  width: 325px;
  box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.4);
}
header ul {
  position: absolute;
  left: 20px;
  top: 180px;
}
header .searchResult {
  width: 325px;
  border: 2px solid #dddcdc;
  text-align: center;
  background-color: #dddcdc;
  color: black;
  z-index: 15;
}
header .searchResult:hover {
  font-weight: bold;
  background-color: #ff8000;
  border: 2px solid black;
  transition-duration: 0.3s;
}

.logo {
  height: 200px;
}

.header-container {
  position: absolute;
  left: 40px;
  top: -40px;
  height: 65px;
  width: 280px;
  z-index: 20;
}

body {
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100vh;
}

.buttonHolder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: absolute;
  width: 80px;
  top: 50px;
  height: 100vh;
  margin-left: 40px;
}

.utilityButton {
  background-color: #d86705e5;
  border: 2px solid black;
  height: 80px;
  border-radius: 100%;
  box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.utilityButton:hover {
  background-color: #ff8000;
  transition-duration: 0.3s;
}

.buttonIcon {
  position: static;
  height: 50px;
  margin-top: -45px;
}

.infoBox {
  visibility: hidden;
  background-color: #dddcdc;
  position: relative;
  z-index: 25;
  height: 40px;
  width: 275px;
  left: 100px;
  bottom: -12px;
  box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15%;
  transition: left 0.2s ease, opacity 0.2s ease;
}

.infoBox-visible {
  visibility: visible;
  transition-duration: 0.5s;
}

.utilityDiv-holder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: absolute;
  top: 60px;
  width: 400px;
  height: 100vh;
}

.utilityDiv {
  background: #fff;
  border-radius: 4px;
  border: solid 2px #f76800;
  left: -500px;
  width: 500px;
  top: 7px;
  height: 18vh;
  opacity: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  position: relative;
  transition: left 0.2s ease, opacity 0.2s ease;
  z-index: 40;
}
.utilityDiv .display {
  background-color: #dddcdc;
  position: absolute;
  z-index: 30;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.utilityDiv .display .searchResult {
  width: 325px;
  text-align: center;
  background-color: #dddcdc;
  border: 2px solid #dddcdc;
  color: black;
  z-index: 15;
}
.utilityDiv .display .searchResult:hover {
  font-weight: bold;
  background-color: #ff8000;
  border: 2px solid black;
  transition-duration: 0.3s;
}

.directionsBar {
  position: relative;
}

.utilityDiv-visible {
  opacity: 1;
  left: 0;
  pointer-events: inherit;
}

.img-holder {
  max-width: 500px;
}

.detailsBar {
  background: #fff;
  border-radius: 4px;
  border: solid 2px #f76800;
  right: -400px;
  top: 50px;
  width: 600px;
  height: 90vh;
  opacity: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  position: absolute;
  transition: right 0.2s ease, opacity 0.2s ease;
}

.details-pane-visible {
  opacity: 1;
  right: 0;
  pointer-events: inherit;
}

.details-pane-close {
  background: #fff;
  border: 0;
  color: #333;
  transition: background 0.3s ease;
  float: right;
  cursor: pointer;
}

.details-pane-close:hover {
  background: #f76800;
}

.details-pane-title {
  color: #f76800;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.clearDirections {
  margin: 15px;
  position: relative;
  opacity: 0;
}

.clearDirections-show {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
