$primaryColor: #ff8000;
$secondaryColor: #dddcdc;

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.header-container {
    position: absolute;
    left: 40px;
    top: -40px;
    height: 65px;
    width: 280px;
    z-index: 20;

    .filterBar {
        position: absolute;
        left: 20px;
        top: 150px;
        width: 325px;
        box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.4);
    }

    ul {
        position: absolute;
        left: 20px;
        top: 180px;
    }

    .searchResult {
        width: 325px;
        border: 2px solid $secondaryColor;
        text-align: center;
        background-color: $secondaryColor;
        color: black;
        z-index: 15;

        &:hover {
            font-weight: bold;
            background-color: $primaryColor;
            border: 2px solid black;
            transition-duration: 0.3s;
        }
    }
}


body {
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100vh;
}

.detailsBar {
    background: #fff;
    border-radius: 4px;
    border: solid 2px #f76800;
    right: -400px;
    top: 50px;
    width: 60vh;
    height: 90vh;
    opacity: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
    position: absolute;
    transition: right 0.2s ease, opacity 0.2s ease;
}

.details-pane-visible {
    opacity: 1;
    right: 0;
    pointer-events: inherit;
}

.details-pane-close {
    background: #fff;
    border: 0;
    color: #333;
    transition: background 0.3s ease;
    float: right;
    cursor: pointer;
}

.details-pane-close:hover {
    background: #f76800;
}

.details-pane-title {
    color: #f76800;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}


//devtools, don't touch when rewriting later

//no seriously, dont do it, you'll lose your mind

//final notice, dont copy over anything below

.selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
    margin-bottom: 50px;
}

.selectorButton {
    width: 30%;
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

    & textarea{
        height: 30vh;
    }

}

.formTitle{
    text-decoration: underline;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: $primaryColor;
}

.formBar {
    margin: 20px;
    padding: 20px;
    border-radius: 2.5vh;
}

.submit {
    bottom: -60px;
    position: relative;
    width: 50%;
    align-self: center;
    padding: 10px;
}

.preSelect {
    background-color: #333;
    position: absolute;
    top: 12vh;
    left: 1vh;
    width: 33vh;
    text-align: center;
    height: 70vh;
    transition-duration: 0.4s;
    opacity: 0.9;
    display: none;
    & .textHolder {
        position: relative;
        top: 30vh;
    }
    & h1 {
        color: $primaryColor;
        font-weight: bold;
    }
}

// jk, one last warning before you ctrl+v
